body {
  background: linear-gradient(
    0deg,
    rgba(19, 21, 55, 1) 0%,
    rgba(31, 55, 87, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

span {
  box-sizing: border-box;
  padding: 35px 49px 35px 49px;
  background-color: #fff;
  border-radius: 8px;
  font-family: Barlow Semi Condensed;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  color: #565468;
}

.box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 33px;
  border: 3px solid #ffffff4a;
  border-radius: 15px;
  margin-top: 48px;
  margin-bottom: 163.5px;
  width: 700px;
  margin: 0 auto;
}

.container-header {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 1;
}

.container-header {
  position: relative;
}
/*  */
.paper {
  position: absolute;
  top: -100px;
  left: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.7s ease;
}

.paper:hover {
  transform: scale(1.05);
}

.paper:active {
  transform: scale(1.5);
}
/* ! */
.rock {
  position: absolute;
  top: -100px;
  left: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.7s ease;
}

.rock:hover {
  transform: scale(1.05);
}

.rock:active {
  transform: scale(1.5);
}
/* ? */

.scissors {
  position: absolute;
  top: 120px;
  left: 250px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.7s ease;
}

.scissors:hover {
  transform: scale(1.05);
}

.scissors:active {
  transform: scale(1.5);
}

/*  */

button {
  background-color: transparent;
  border: none;
}

.rules-btn {
  position: absolute;
  left: 940px;
  top: 270px;
  transition: background-color 0.3s ease, transform 0.9s ease;
  cursor: pointer;
}

.rules-btn:hover {
  transform: scale(1.15);
}

.rules-btn:active {
  transform: scale(1.5);
}

main {
  position: relative;
}

/*! rules button */

.hidden-nav {
  width: 100%;
  max-width: 400px;
  height: 415px;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 0 auto;
  position: absolute;
  top: -180px;
  left: 150px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.rules-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  padding: 32px;
}

.icons-box {
  padding: 0px 46px 32px 49px;
  width: 305px;
  height: 271px;
  top: -50px;
}

.header-rules {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-rules {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-rules {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.beats-left {
  position: absolute;
  top: 140px;
  left: 185px;
}

.hidden-nav.show-nav {
  opacity: 1;
  visibility: visible;
}

.rules-basic-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  margin-top: 150px;
}

/*  */

.img-box.nan-box {
  display: none;
}

/*  */

.block-box {
  max-width: 700px;
  width: 100%;
}

.comparitionss {
  margin-top: 150px;
  margin: 150px 15px 15px 15px;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.comparitionss.blok {
  display: flex;
}

.result {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0 5px 25px 5px;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.refresh {
  --tw-text-opacity: 1;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  margin: 0 10px 0 10px;
  padding-top: 15px;
  text-align: center;
}

/* ? */

@media screen and (max-width: 1390px) {
  .rules-btn {
    left: 870px;
  }
}

@media screen and (max-width: 1220px) {
  .rules-btn {
    left: 800px;
  }
}

@media screen and (max-width: 1050px) {
  .rules-btn {
    left: 740px;
  }
}

@media screen and (max-width: 900px) {
  .rules-btn {
    left: 700px;
  }
}

@media screen and (max-width: 840px) {
  .rules-btn {
    left: 650px;
  }

  .box-header {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .box-header {
    padding: 24px 23px;
    margin-top: 32px;
    width: 600px;
    margin-bottom: 180px;
  }

  .rules-btn {
    position: absolute;
    left: 600px;
    top: 250px;
    transition: background-color 0.3s ease, transform 0.9s ease;
    cursor: pointer;
    width: 50px;
  }

  .hidden-nav {
    top: -160px;
  }
}

@media screen and (max-width: 700px) {
  .back {
    margin-bottom: 0px;
    width: 220px;
  }

  .paper {
    position: absolute;
    top: -50px;
    left: 180px;
    width: 130px;
  }

  .rock {
    position: absolute;
    top: -50px;
    left: 360px;
    width: 130px;
  }

  .scissors {
    position: absolute;
    top: 110px;
    left: 280px;
    width: 130px;
  }

  .rules-btn {
    top: 210px;
  }
}

@media screen and (max-width: 660px) {
  .rules-btn {
    left: 550px;
  }

  .back {
    margin-bottom: 0px;
    width: 220px;
  }

  .paper {
    position: absolute;
    top: -50px;
    left: 130px;
    width: 130px;
  }

  .rock {
    position: absolute;
    top: -50px;
    left: 290px;
    width: 130px;
  }

  .scissors {
    position: absolute;
    top: 110px;
    left: 230px;
    width: 130px;
  }

  .box-header {
    width: 490px;
  }

  .human {
    width: 130px;
  }

  .ai {
    width: 130px;
  }

  .result {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .back {
    margin-bottom: 0px;
    width: 250px;
  }

  .paper {
    position: absolute;
    top: -50px;
    left: 120px;
    width: 130px;
  }

  .rock {
    position: absolute;
    top: -50px;
    left: 310px;
    width: 130px;
  }

  .scissors {
    position: absolute;
    top: 110px;
    left: 220px;
    width: 130px;
  }

  .btn-box {
    position: absolute;
    top: 150px;
    left: 130px;
  }

  .comparitionss {
    position: relative;
  }

  .rules-btn {
    position: absolute;
    left: 420px;
    /* top: 290px; */
    transition: background-color 0.3s ease, transform 0.9s ease;
    cursor: pointer;
    width: 50px;
  }
}

@media screen and (max-width: 570px) {
  body {
    height: 95vh;
  }

  .ai {
    width: 100px;
  }

  .human {
    width: 100px;
  }

  .box-header {
    width: 400px;
  }

  .rules-btn {
    top: 190px;
  }

  .rules-menu {
    width: 50px;
  }

  .hidden-nav {
    max-width: 500px;
    height: 740px;
    position: absolute;
    top: -360px;
    left: -5px;
  }

  .refresh {
    font-size: 18px;
    padding: 9px;
  }

  .result {
    font-size: 25px;
  }
}

@media screen and (max-width: 530px) {
  .rock {
    position: absolute;
    top: -50px;
    left: 280px;
  }

  .paper {
    position: absolute;
    top: -50px;
    left: 90px;
  }

  .scissors {
    position: absolute;
    top: 120px;
    left: 180px;
  }

  .btn-box {
    top: 80px;
    left: 120px;
  }

  .comparitionss {
    margin: 150px 35px 15px 35px;
  }
}

@media screen and (max-width: 500px) {
  .hidden-nav {
    top: -400px;
    left: -7px;
    height: 100vh;
  }

  .rules-btn {
    left: 400px;
  }

  .box-header {
    width: 400px;
  }

  .container-header {
    max-width: 500px;
  }

  #refresh {
    font-size: 16px;
    padding: 9px;
  }

  .qoida-img {
    margin-top: 130px;
  }

  .comparitionss {
    max-width: 500px;
  }

  .rules-box {
    margin-top: 20px;
  }
}

@media screen and (max-width: 470px) {
  .rules-btn {
    left: 370px;
  }

  .box-header {
    width: 370px;
    margin-bottom: 100px;
  }

  .hidden-nav {
    left: 0px;
    width: 100%;
  }

  .btn-box {
    top: 80px;
    left: 95px;
  }
}

@media screen and (max-width: 450px) {
  .paper {
    left: 50px;
  }

  .rock {
    left: 240px;
  }

  .scissors {
    top: 120px;
    left: 140px;
  }

  .rules-btn {
    left: 340px;
  }

  .rules-menu {
    width: 40px;
  }
}

@media screen and (max-width: 435px) {
  .box-header {
    width: 320px;
    margin-bottom: 140px;
  }

  .btn-box {
    top: 120px;
    left: 80px;
  }

  .comparitionss {
    margin: 115px 20px 15px 20px;
  }

  .hidden-nav {
    top: -360px;
  }
}

@media screen and (max-width: 412px) {
  body {
    height: 98vh;
  }

  .box-header {
    padding: 24px 23px;
    margin-top: 32px;
    width: 200px;
    margin-bottom: 0px;
  }

  .container-header {
    width: 300px;
    box-sizing: border-box;
    padding: 0px;
  }

  .logo {
    width: 83px;
  }

  span {
    padding: 10px 10px;
    font-size: 40px;
    line-height: 40px;
  }

  .back {
    margin-bottom: 0px;
    width: 166px;
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 0;
  }

  .paper {
    position: absolute;
    top: -10px;
    left: 35px;
    width: 80px;
    z-index: 1;
  }

  .rock {
    position: absolute;
    top: -10px;
    left: 175px;
    width: 80px;
    z-index: 1;
  }

  .scissors {
    position: absolute;
    top: 110px;
    left: 110px;
    width: 80px;
    z-index: 1;
  }

  .rules-menu {
    width: 40px;
  }

  .relus-icon {
    width: 110px;
    margin: 0 auto;
  }

  .rules-btn {
    position: relative;
    left: 260px;
    top: 230px;
    transition: background-color 0.3s ease, transform 0.9s ease;
    cursor: pointer;
    width: 50px;
  }

  .rules-box {
    margin-top: 20px;
    position: relative;
  }

  .hidden-nav {
    width: 400px;
    height: 640px;
    position: absolute;
    top: -225px;
    left: -50px;
  }

  .qoida-img {
    width: 280px;
    margin-top: 100px;
  }

  .exit-img {
    position: absolute;
    top: 560px;
    left: 350px;
  }

  .btn-box {
    top: 140px;
    left: 20px;
    width: 200px;
  }

  .comparitionss {
    margin: 80px 20px 15px 20px;
  }
}

@media screen and (max-width: 400px) {
  .hidden-nav {
    width: 380px;
    height: 640px;
    position: absolute;
    top: -225px;
    left: -50px;
  }

  .rules-btn {
    left: 250px;
  }
}

@media screen and (max-width: 370px) {
  .hidden-nav {
    width: 350px;
    height: 640px;
    position: absolute;
    top: -225px;
    left: -20px;
  }

  .exit-img {
    position: absolute;
    top: 560px;
    left: 280px;
  }
}

@media screen and (max-width: 360px) {
  .hidden-nav {
    width: 340px;
    height: 640px;
    position: absolute;
    top: -225px;
    left: -30px;
  }
}

@media screen and (max-width: 330px) {
  .hidden-nav {
    width: 320px;
    height: 640px;
    position: absolute;
    top: -225px;
    left: -10px;
  }
}

@media screen and (max-width: 320px) {
  .hidden-nav {
    width: 310px;
    height: 640px;
    position: absolute;
    top: -225px;
    left: -8px;
  }

  .rules-btn {
    position: relative;
    left: 220px;
    transition: background-color 0.3s ease, transform 0.9s ease;
    cursor: pointer;
  }

  .rules-menu {
    width: 40px;
  }
}

@media screen and (max-width: 310px) {
  .hidden-nav {
    width: 300px;
    height: 640px;
    position: absolute;
    top: -225px;
    left: -8px;
  }

  .exit-img {
    position: absolute;
    top: 560px;
    left: 280px;
  }
}
